@model Tienda.Models.Categoria

@{
    ViewData["title"] = "Create";
}

<h1>Categorys</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            @*llama al metodo crear post*@
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>  @*validaciones*@

                <div class="form-group row">
                    <h2 class="text-info pl-3">New Category</h2>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="NombreCategoria" class="form-label">Nombre Categoria</label>
                            <input asp-for="NombreCategoria " class="form-control" />
                            <span asp-validation-for="NombreCategoria" class="text-danger"></span>  @*tag de validaciones *@
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="NumeroOrden" class="form-label">Numero de Orden</label>
                            <input asp-for="NumeroOrden" class="form-control" />
                             <span asp-validation-for="NumeroOrden" class="text-danger"></span>  @*tag de validaciones *@

                        </div>

                    </div>
                    <br/>
                    <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-primary">Create New </button>
                        <a asp-controller="Categorias" asp-action="Index" class="btn btn-success">Regresar</a>
                    </div>
                    

                </div>

            </div>


        </form>
    </div>
</div>



@section scripts {
    @{
        await Html.RenderPartialAsync("_validationscriptspartial");
    }
    }
